<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="../js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/3091787036/UntitledProject/style.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <main>
        <section class="balance--container">
            <section class="balance">
                <div class="balance--circle">
                    <article class="balance--info">
                        <h2>Total</h2>
                        <h2>balance</h2>
                        <p>$<span balance-price="214,17"></p>
                    </article>
                </div>
            </section>
            <section class="graph">
                <section class="graph--buttons">
                    <button class="graph--button">assets</button>
                    <button class="graph--button">debt</button>
                    <button class="graph--button">income</button>
                </section>
                <section class="graph--table">
                    <img src="storage/img/graph.svg" alt="">
                </section>
            </section>
            <section class="banner-balance">
                <section class="banner-balance--container">
                    <div class="banner-balance--close">
                        <i class='bx bxs-x-circle' ></i>
                    </div>
                    <section class="banner-balance--content">
                        <div class="banner-balance--icon">
                            <img src="../storage/img/credit-card.svg" alt="banner-ico">
                        </div>
                        <article class="banner-balance--info">
                            <h2>spending.</h2>
                            <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                        </article>
                    </section>
                </section>
            </section>
        </section>
    </main>
</body>
</html>