<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="../js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/b2b83e10a9/UntitledProject/style.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <section class="home">
        <article class="title-banner">
            <h2>investing tips</h2>
        </article>
        <section class="banner">
            <div class="banner--oink">
                <img src="./storage/img/oink.svg" alt="oink-ico">
            </div>
            <article>
                <section>
                    <div class="banner--close">
                        <i class='bx bxs-x-circle'></i>
                    </div>
                </section>
                <h3> What is an ETF?</h3>
                <p>By james B, PHD</p>
                <button class="banner--button"> learn more</button>
            </article>
        </section>
        <article class="title-cards">
            <h2> my cards (<span data-card="2">)</h2>
        </article>
        <section class="cards">
            <div class="card">
                <div class="card--texture">
                    <i class="icon-card-chip"></i>
                    <p><span data-card-secret="****"> 6175</p>
                    <h2 class="card-balance">$<span data-card-balance="63,21"></h2>
                    <i id='owner'class='bx bxl-mastercard'></i>
                    <span></span>
                </div>
            </div>

            <div class="card">
                <div class="card--texture">
                    <i class="icon-card-chip"></i>
                    <p><span data-card-secret="****"> 6175</p>
                    <h2 class="card-balance">$<span data-card-balance="500,21"></h2>
                    <i id='owner'class='bx bxl-visa'></i>
                    <span></span>
                </div>
            </div>
        </section>
    </section>
</body>
</html>