<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Profile</title>
</head>

<body>
        <section class="profile">
            <div class="area">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <section class="profile-top-container">
                    <h2 class="balance-greater">Hi, Arthur!</h2>
                    <h3 class="balance-here">Here's Your Balance.</h3>
                    <div class="profile-balances">
                        <div class="balance-item">
                            <h4>SAVINGS</h4>
                            <p>$<span item-savings-info="15,615"></p>
                            <meter class="item-bar" value="15615" max="20000"></meter>
                        </div>
                        <div class="balance-item">
                            <h4>ASSETS</h4>
                            <p>$<span item-assets-info="9,615"></p>
                            <meter class="item-bar" low="10000" high="95" value="9615" max="30000"></meter>
                        </div>
                    </div>
                </section>
                <section class="profile-bottom-container">
                    <section class="profile-bottom-info">
                        <h4>Activities</h4>
                        <section class="activities">
                            <div class="activitie-item">
                                <img src="/storage/img/account.svg" alt="account">
                                <h3>acount</h3>
                            </div>
                            <div class="activitie-item">
                                <img src="/storage/img/shield.svg" alt="shield">
                                <h3>privacy</h3>
                            </div>
                            <div class="activitie-item">
                                <img src="/storage/img/help.svg" alt="help">
                                <h3>help</h3>
                            </div>
                        </section>
                        <h4>Transactions</h4>
                        <ul class="transactions">
                            <li class="transaction">
                                <img src="/storage/img/arrow-up.svg" alt="">
                                <section class="transaction-info">
                                    <div class="transaction-main-info">
                                        <h2>Food &amp; Beverage</h2>
                                        <h2 class="positive">+$28.11</h2>
                                    </div>
                                    <div class="transaction-detail">
                                        <p>H & M 1257****</p>
                                        <p>Feb 21</p>    
                                    </div>  
                                </section>
                            </li>
                            <li class="transaction">
                                <img src="/storage/img/arrow-bottom.svg" alt="">
                                 <section class="transaction-info">
                                    <div class="transaction-main-info">
                                        <h2>Shopping</h2>
                                        <h2 class="negative">-$157.64</h2>
                                    </div>
                                    <div class="transaction-detail">
                                        <p>H & M 1257****</p>
                                        <p>Jan 14</p>    
                                    </div>  
                                 </section>   
                            </li>
                        </ul>
                    </section>
                </section>
            </div>
        </section>
</body>

</html>